<div class="banner">
    <div id="banner-icon"><i class="llama-banner-item" aria-hidden="true"></i></div>
    <span id="banner-text" class="banner-flex-item">Lei's Llama Image Collection</span>
</div>