<div class="footer-basic">
  <footer>
    <p class="termproject">CSC-317 Term Project San Francisco State University Spring 2022</p>

    {{!-- <div class="listContainer">
      <div class="navList">
        <ul class="list-inline">
          <li class="list-inline-item"><a href="/homepage">Home</a></li>
          <li class="list-inline-item"><a href="/login">Login</a></li>
          <li class="list-inline-item"><a href="/userRegistration">Registration</a></li>
          <li class="list-inline-item"><a href="/imageSubmission">Post Image</a></li>
          <li class="list-inline-item"><a href="/userPosts">View Images</a></li>
        </ul>
      </div>
      <div class="authorList">
        <ul class="authorInfo">
          <li class="authorInlineItem">San Francisco State University</li>
          <li class="authorInlineItem">Lei Woods</li>
          <li class="authorInlineItem">CSC-317</li>
          <li class="authorInlineItem"><a href="https://github.com/Leiwo94">Github</li>
        </ul>
      </div>
    </div> --}}
  </footer>
</div>